.html{ height: 100%;}

        .modalBackground
        {
            position: absolute;
            top: 0px;
            left: 0px;
            filter: alpha(opacity=60);
            -moz-opacity: 0.6;
            opacity: 0.6;
        }
        .popup
        {
            background-color: #ddd;
            margin: 0px auto;
            width: 330px;
            position: relative;
            border: Gray 2px inset;
        }

        .Background
        {
            background-color: Black;
            filter: alpha(opacity=90);
            opacity: 0.8;
        }
        
        .Popup
        {
            background-color: #4cff00;
            border-width: 3px;
            border-style: solid;
            border-color: black;
            padding-top: 10px;
            padding-left: 10px;
            width: 400px;
            height: 350px;
        }
        
        .lbl
        {
            font-size:16px;
            font-style:italic;
            font-weight:bold;
        }

        *{ padding: 0;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }

        body
        { 
            font: normal .80em 'trebuchet ms', arial, sans-serif;
            color: #555;}
        p
        { padding: 0 0 10px 0;
          line-height: 1.5em;
          font-size: 107%;}

        img
        { border: 0;}

        h1, h2, h3, h4, h5, h6 
        { font: normal 250% 'Yanone Kaffeesatz', arial, sans-serif;
          color: #444;
          margin: 0 0 15px 0;
          padding: 5px 0 5px 0;}

        h2
        { font: normal 170% 'Yanone Kaffeesatz', arial, sans-serif;
          color: #F14E23;  
          margin: 0;
          padding: 0 0 8px 0;}

        h3
        { font-size: 200%;
          margin: 0 0 9px 0;
          color: #444;}

        h4, h5, h6
        { margin: 0;
          padding: 0 0 5px 0;
          font: normal 150% arial, sans-serif;
          color: #F14E23;
          line-height: 1em;}

        h5, h6
        { font: italic 95% arial, sans-serif;
          color: #888;
          padding-bottom: 15px;}

        h6
        { color: #362C20;}

        a, a:hover
        { outline: none;
          text-decoration: none;
          color: #35BDF5;}
          
        a.nav
        { 
            font: italic 130% arial, sans-serif;
            /*font-weight:100;*/
            }

        a:hover
        { text-decoration: underline;}

        .left
        { float: left;
          width: auto;
          margin-right: 10px;}

        .right
        { float: right; 
          width: auto;
          margin-left: 10px;}

        .center
        { display: block;
          text-align: center;
          margin: 20px auto;}

        ul
        { margin: 2px 0 22px 17px;}

        ul li
        { list-style-type: circle;
          margin: 0 0 0 0; 
          padding: 0 0 4px 5px;}

        ol
        { margin: 8px 0 22px 20px;}

        ol li
        { margin: 0 0 11px 0;}

        #main, #header, #logo, #menubar, #site_content, #footer
        { margin-left: auto; 
          margin-right: auto;}

        #main
        { width: 950px;
          margin: 20px auto;
        }

        #header
        { width: 952px;
          height: 115px;
          background: url(/style/header.jpg) no-repeat; 
          }

        #logo
        { width: 948px;
          float: left;
          height: 113px;
          background: transparent;
          padding: 0 0 0px 10px;
        }

        #logo h1
        {
            font: normal 510% Arial;
            padding: 5px 0 0 17px;
            color: #FFFFFF;
            /*float: left;*/
            font-weight: 800;
           /* background-color: #000000;*/
            font-variant: normal;
        }
        
        #logo h2
        {
            font: normal 150% Arial;
            padding: 5px 0 0 17px;
            color: #FFFFFF;
            font-weight: 800;
           /* background-color: #000000;*/
            font-variant: normal;
        }

        #logo h1 a
        { color: #35BDF5;
          text-decoration: none;}

        #logo h1 a:hover
        { color: #555;
          text-decoration: none;}

        .slogan
        { float: right; 
          padding-right: 25px;
          text-align: right; 
          font: 500% 'tangerine', arial; 
          color: #111;}

        #menubar
        { height: 46px;
          width: 700px;
          margin: 0px auto -1px auto;
          float: right;
          padding: 0px 0 0 0;} 

        ul#menu
        { float: right;}

        ul#menu li
        { float: left;
          padding: 0 0 0px 0px;
          list-style: none;
          margin: 2px 0 0 0;
          background: transparent;}

        ul#menu li a
        { font: normal 170% 'Yanone Kaffeesatz', sans-serif;
          text-decoration: none;
          color: #444;
          display: block; 
          float: left; 
          height: 20px;
          padding: 7px 23px 15px 23px;
          text-align: center;} 

        ul#menu li.current a
        { height: 20px;
          padding: 6px 22px 15px 22px;}

        ul#menu li.current a
        { background: #fff;
          border: 1px solid #ddd;
          border-bottom: 0;
          color: #F14E23;}

        ul#menu li a:hover
        { color: #F14E23;}

        #site_content
        { width: 950px;
          overflow: hidden;
          margin: 0 auto 0 auto;
          padding: 0;
          background: #fff;
          border: 1px solid #E7E7E7;} 

        #sidebar_container
        { float: right;
          width: 250px;
          margin: 25px 0;}

        .sidebar
        { float: right;
          width: 200px;
          margin: 0 24px 27px 0;
          background: #FBFBFB;
          border: 1px solid #eee;
          padding: 0 15px 15px 15px;}

        .sidebar h3, .content h1
        { padding: 10px 15px;
          margin: 0 1px;}

        .sidebar h1
        { padding: 5px 0 0 0;}

        .paperclip
        { float: left;
          position: relative; 
          z-index: 0;
          vertical-align: middle; 
          margin: -27px 0 -60px -30px;}

        #content
        { text-align: left;
          width: 630px;
          padding: 25px 0 5px 25px;
          margin: 0;

        }

        #content ul
        { margin: 2px 0 22px 0px;

        }

        #content ul li
        { list-style-type: none;
          background: url(bullet.png) no-repeat;
          margin: 0 0 6px 0; 
          padding: 0 0 4px 25px;
          line-height: 1.5em;

        }

        .buttonstyleCss
        {
            border: 1px solid black;
            background-color: #dee5b6;
            background-repeat: no-repeat;
            background-position: 1px center;
            padding: 2px 15px 2px 15px;
            height: 25px;
            font-weight: bold;
            cursor: pointer;
            font-family: Arial;
        }

        .fileUpload 
        {
            font-size:15px; 
             
            position:relative;
            background-repeat: no-repeat;
            border:1px solid #CBD1D2;
            padding-top:6px;
            padding-left:5px;
            height: 30px;
            font-weight: bold;
            width:585px;
            cursor: pointer;
            font-family: Arial;
        }

        #footer
        { clear: both;
          width: 100%;
          font: normal 150% 'yanone kaffeesatz',  arial, sans-serif;
          height: 85px;
          padding: 20px 0 5px 0;
          text-align: center; 
          color: #555;
          background: transparent;
          margin-bottom: 20px;}

        #footer p
        { padding: 0 0 10px 0;}

        #footer a, #footer a:hover
        { color: #555;
          text-decoration: none;}

        #footer a:hover
        { color: #35BDF5;
          text-decoration: none;}

        .gallery img
        { position:absolute;}

        .form_settings
        { margin: 5px 0 0 0;}

        .form_settings p
        { padding: 0 0 10px 0;}

        .form_settings span
        { padding: 5px 0; 
          float: left; 
          width: 170px; 
          text-align: left;}
  
        .form_settings input, .form_settings textarea
        { width: 252px; 
          font: 100% 'trebuchet ms', arial;
          border: 0;
          border: 1px solid #eee;
          padding: 5px 10px;
          background: #fff;
          color: #FFF;}
  
        .form_settings .submit
        { border: 0; 
          width: auto;
          margin: 0 0 0 200px; 
          cursor: pointer; 
          color: #35BDF5;
          border: 1px solid #ddd;
          padding: 5px 15px;
          background: #fff;
          font: normal 140% 'Yanone Kaffeesatz', sans-serif;}

        .form_settings textarea, .form_settings select
        { font: 100% 'trebuchet ms', arial; 
          border: 1px solid #eee;
          padding: 5px 10px;
          background: #fff;
          width: 252px;
          overflow: auto;}

        .form_settings select
        { width: 274px;}

        .form_settings .checkbox
        { margin: 4px 0; 
          padding: 0; 
          width: 14px;
          border: 0;
          background: none;}

        .search
        { color: #666;
          border: 1px solid #eee;
          margin: 0;
          padding: 10px 5px;
          width: 189px;
          color: #F14E23;}
  
        .subscribe
        { 
            color: #35BDF5;
            border: 1px solid #ddd;
            padding: 5px 10px;
            background: #fff;
            float: right;
            cursor: pointer;
            margin: 0;
            font: normal 140% 'Yanone Kaffeesatz', sans-serif;
        }
 
        table
        { 
            margin: 10px 0 30px 0;
        }

        table tr th, table tr td
        { 
            background: #F5F5F5;
            color: #111;
            padding: 7px 4px;
            text-align: left;
        }
  
        table tr td
        {   
            background: #FBFBFB;
            color: #111;
            border-top: 1px solid #FFF;
        }

        #Text1
        {
            width: 114px;
        }
        #Text2
        {
            width: 507px;
        }

        .progressbar 
        {
          width:300px;
          height:21px;
        }
        .progressbarlabel 
        {
          width:300px;
          height:21px;
          position:absolute;
          text-align:center;
          font-size:small;
        }

        .FileUploadClass input {
            height:24px;
            
        }

        .modal
        {
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            z-index: 99;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            min-height: 100%;
            width: 100%;
        }
        .loading
        {
            font-family: Arial;
            font-size: 10pt;
            color:#FFFFFF;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            z-index: 999;
        }
        
